/*__________________________________________________________________MediaQueries*/
/*@media (max-width: 1500px) {
  .calc {
    background-color: red;
    max-width: 25vw;
  }
}
@media (max-width: 1300px) {
  .calc {
    background-color: blue;
    max-width: 25vw;
  }
}*/
