$negro: rgb(6, 6, 6);
$white: rgb(255, 255, 255);
$white-light: rgb(237, 237, 237);
$gris-claro: rgb(31, 31, 31);
$gris-oscuro: rgb(19, 19, 19);
$turquesa: rgb(61, 128, 124);
$turquesa-fuerte: rgb(39, 186, 170);
